<a href="https://colab.research.google.com/github/namhawon/2025_Study03/blob/main/02_250314_AI%EB%A1%9C_%EB%B0%B0%EC%9A%B0%EB%8A%94_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2주차 강의노트

**다양한 문자열 출력**

In [1]:
# 문자열 변수 사용
message = "Welcome to Python!"
print(message)

Welcome to Python!

In [6]:
# 여러 문자열 연결
print("Hello," + "Python!") # +: 띄어쓰기 X

Hello,Python!

In [7]:
print("Hello,","Python!") # ,: 띄어쓰기 O

Hello, Python!

In [13]:
# f-string 사용
name = "Alice"
age = 25
print(f"My name is {name} and I am {age} years old.")

My name is Alice and I am 25 years old.

In [9]:
# 여러 값 출력
print("My name is", name, "and I am learning Python!")

My name is Alice and I am learning Python!

**기본적인 연산**

In [15]:
# 덧셈
result = 10 + 5
print(result)

15

In [16]:
# 뺄셈
result = 20 - 8
print(result)

12

In [17]:
# 곱셈
result = 5 * 3
print(result)

15

In [21]:
# 나눗셈
result = 15 / 3
print(result)

5.0

In [22]:
# 나머지
result = 10 % 3
print(result)

1

In [23]:
# 거듭제곱
result = 2 ** 3
print(result)

8

**응용 예제**

In [27]:
# 두 수의 합과 차를 출력하는 프로그램
num1 = 25
num2 = 10

sum_result = num1 + num2
diff_result = num1 - num2

print("Sum:", sum_result)
print("Difference:", diff_result)

Sum: 35
Difference: 15

**input() 함수**

In [28]:
# 기본 사용법
user_input = input()
print("사용자가 입력한 값:", user_input)

5
사용자가 입력한 값: 5

In [30]:
# 프롬프트 문자열
name = input("이름을 입력하세요: ")
print("안녕하세요,", name + "님!")

이름을 입력하세요: 남하원
안녕하세요, 남하원님!

input() 함수는 항상 문자열(string) 형태로 값을 반환한다.

**따라서 숫자, 연산 등 특정 자료형이 필요한 경우, 입력받은 문자열을 해당 자료형으로 반환해야 한다**


*   int(): 문자열을 정수(integer)로 변환한다 = 소수점 없이 표현되는 숫자
*   float(): 문자열을 실수(float)로 변환한다 = 소수점이 있는 숫자

*   str(): 다른 자료형의 값을 문자열로 변환한다

In [31]:
age = input("나이를 입력하세요: ")
age = int(age)

나이를 입력하세요: 25

In [32]:
print("10년 후 당신의 나이는", age + 10, "세입니다.")

10년 후 당신의 나이는 35 세입니다.

**여러 개의 입력값 처리**

1. split() 메서드는 문자열을 특정 구분자(기본값:공백)을 기준으로 나누어 리스트 형태로 반환한다

In [36]:
name, age = input("이름과 나이를 공백으로 구분하여 입력하세요: ").split()
age = int(age)

print("이름: ", name)
print("나이: ", age)

이름과 나이를 공백으로 구분하여 입력하세요: 남하원 25
이름:  남하원
나이:  25

2. map() 함수는 여러 개의 값을 한 번에 특정 함수를 적용하여 변환할 때 유용하다

In [37]:
num1, num2 = map(int, input(" 두 개의 숫자를 공백으로 구분하여 입력하세요: ").split())
print(" 두 수의 합: ", num1 + num2)

 두 개의 숫자를 공백으로 구분하여 입력하세요: 10 20
 두 수의 합:  30

**주의사항 및 오류처리**

In [38]:
try:
    age = int(input("나이를 입력하세요: "))
    print("입력하신 나이는", age, "세입니다.")
except ValueError:
    print("잘못된 입력입니다. 숫자를 입력해주세요.")

나이를 입력하세요: 스물다섯
잘못된 입력입니다. 숫자를 입력해주세요.

In [39]:
try:
    age = int(input("나이를 입력하세요: "))
    print("입력하신 나이는", age, "세입니다.")
except ValueError:
    print("잘못된 입력입니다. 숫자를 입력해주세요.")

나이를 입력하세요: 25
입력하신 나이는 25 세입니다.

# 연습 문제

1. 사용자로부터 두 개의 숫자를 입력받아 더하기, 빼기, 곱하기, 나누기 연산을 수행하는 프로그램을 작성하세요(나눗셈 결과는 소수점까지 출력)

In [44]:
try:
    num1, num2 = map(int, input("두 개의 숫자를 공백으로 구분하여 입력하세요: ").split())

    print("합:", num1 + num2)
    print("차:", num1 - num2)
    print("곱:", num1 * num2)
    print("나눗셈:", num1 / num2)  # float 결과 출력
except ValueError:
    print("잘못된 입력입니다. 숫자를 입력해주세요.")
except ZeroDivisionError:
    print("0으로 나눌 수 없습니다.")

두 개의 숫자를 공백으로 구분하여 입력하세요: 20 5
합: 25
차: 15
곱: 100
나눗셈: 4.0

In [43]:
try:
    num1, num2 = map(int, input("두 개의 숫자를 공백으로 구분하여 입력하세요: ").split())

    print("합:", num1 + num2)
    print("차:", num1 - num2)
    print("곱:", num1 * num2)
    print("나눗셈:", num1 / num2)  # float 결과 출력
except ValueError:
    print("잘못된 입력입니다. 숫자를 입력해주세요.")
except ZeroDivisionError:
    print("0으로 나눌 수 없습니다.")

두 개의 숫자를 공백으로 구분하여 입력하세요: 5 0
합: 5
차: 5
곱: 0
0으로 나눌 수 없습니다.

2. 사용자로부터 이름과 나이를 입력받아 "안녕하세요, [이름]님! 당신의 나이는 [나이]세입니다." 형식으로 출력하는 프로그램을 작성하세요.

In [45]:
try:
    name = input("이름을 입력하세요: ")
    age = int(input("나이를 입력하세요: "))

    print(f"안녕하세요, {name}님! 당신의 나이는 {age}세입니다.")
except ValueError:
    print("나이는 숫자로 입력해주세요.")

이름을 입력하세요: 남하원
나이를 입력하세요: 25
안녕하세요, 남하원님! 당신의 나이는 25세입니다.

In [46]:
try:
    name = input("이름을 입력하세요: ")
    age = int(input("나이를 입력하세요: "))

    print(f"안녕하세요, {name}님! 당신의 나이는 {age}세입니다.")
except ValueError:
    print("나이는 숫자로 입력해주세요.")

이름을 입력하세요: 남하원
나이를 입력하세요: 스물 다섯
나이는 숫자로 입력해주세요.

# 실전 문제

**문제 1**
반지름이 5인 원의 면적을 구하시오.
π 원주율 값은 3.141592로 계산합니다

<출력 예시>
반지름이 5인 원의 면적은 78.5398입니다

In [ ]:
# 반지름(r, radius) = 5
r = 5

# π 원주율 공식
area = 3.141592 * r**2

print(f"반지름이 {r}인 원의 면적은 {area}입니다")

반지름이 5인 원의 면적은 78.5398입니다

**문제 2**
분(정수)을 시간과 분으로 변환하여 출력하시오

<출력 예시> 100분은 1시간 40분입니다.

In [ ]:
t = 100 #시간은 100분
hour = t//60
minute = t% 60

print(f"{t}분은 {hour}시간 {minute}분입니다")

100분은 1시간 40분입니다